#results div {
  display: none;
}

.jumbotron {
  text-align: center;
}
.jumbotron img {
  display: block;
  margin: auto;
  width: 300px;
  max-width: 70%;
}
.radioQ {
  margin-top: 15px;
  margin-bottom: -15px;
}
.btn {
  display: block;
  margin: auto;
}
.panel-body{
  min-height: 655px;
}
.panel-footer {
  min-height: 100px;
}
h3 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  padding: 40px;
}
