#results div {
  display: none;
}
#languageQuizzes > div {
  display: none;
  max-width: 700px;
  padding-top: 100px;
  margin: auto;
  background-color:
}
.jumbotron {
  text-align: center;
//this mess
background: rgba(255,165,56,0.97);
background: -moz-linear-gradient(top, rgba(255,165,56,0.97) 0%, rgba(255,165,56,0.56) 31%, rgba(255,221,180,0) 74%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,165,56,0.97)), color-stop(31%, rgba(255,165,56,0.56)), color-stop(74%, rgba(255,221,180,0)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(255,165,56,0.97) 0%, rgba(255,165,56,0.56) 31%, rgba(255,221,180,0) 74%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(255,165,56,0.97) 0%, rgba(255,165,56,0.56) 31%, rgba(255,221,180,0) 74%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(255,165,56,0.97) 0%, rgba(255,165,56,0.56) 31%, rgba(255,221,180,0) 74%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,165,56,0.97) 0%, rgba(255,165,56,0.56) 31%, rgba(255,221,180,0) 74%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa538', endColorstr='#ffffff', GradientType=0 );

}
.jumbotron img {
  display: block;
  margin: auto;
  width: 300px;
  max-width: 70%;
}
.radioQ {
  margin-top: 15px;
  margin-bottom: -15px;
}
.btn {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.panel-body{
  min-height: 670px;
}
.panel-footer {
  min-height: 100px;
}
h3, h2 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  padding: 40px;
}
.quiz {
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer {
  height: 200px;
  background: #4cbaba;
  margin-top: 100px;
}

a, a:hover {
  text-decoration: none;
}
.testknow {
  background-color: rgba(255, 165, 0, .5);
  min-height: 300px;
  padding-top: 50px;
}
